/* Обнуляем все отступы так как браузер может сам их менять без нашего ведома. У кадолго тега ест ьсвои браузерные стили. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
} 

/* Цвет фона в блоке body */
body {
    background-color: #020A18;
}

.header-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 16px;
}

.nav {
    display: flex;
    justify-content: center;
}

.container  {
    width: 1147px; /* Ширина контейнера */
    /* Слва справа отступ нулевой, от границ окна расчичтывается автоматически */
    margin: 0 auto;
    margin-bottom: 250px;
}

.header {
    margin-bottom: 160px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 49px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.subtitle {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */ 
    margin-bottom: 30px;
}

.subsubtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 30px;
}

.boxtitle {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.7;
    margin-bottom: 30;
    /* margin-left: 30;
    margin-right: 30; */
}

.dsc {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.7;
    margin-bottom: 70px;
}

.dsc-2 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.dsc-3 {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 30;
}

.dsc-4 {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.7;
    margin-bottom: 20px;
}

.main-link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none; /* Убираем подчеркивание */
    border-radius: 5px; /* скругление */ 
    background: var(--3-a-68-b-8, #3A68B8); /* цвет заливки */
    padding: 1rem 2rem; /* отступ rem - размер шрифта*/ 
    margin-right: 20px; /* правый отступ */
    border: 3px solid transparent; /* рамочка прозрачная (transparent) */
    transition: all 0.5s; /* плавность перехода, замедление эфекта полный и 0,5сек*/
}

/* стрелка в кнопке*/
.fa-play {
    margin-right: 10px; /* правый отступ после стрелки*/    
}

/* действие при наведении указателя*/
.header-link:hover {
    color: #3A68B8;
}

.main-link:hover {
    background-color: #fff;
    color: #3A68B8;
    border: 3px solid #3A68B8; /* рамочка */
}

/* добавим модификатор с именем "flex" и опишем его свойства */
.flex {
    display: flex;
    justify-content: space-between; /*распределить контент чтоб между ним была пустота*/
}

/* .main {
    margin-bottom: 250px; /* нижний отступ */ 
} */

.section {
    margin-bottom: 250px; /* нижний отступ */ 
}

/* перечисляем классы к разным селекторам */
.main-left, .main-right, .main-1-left, .main-1-right {
    width: 47%;
}

.main-right {
    display: flex; 
    justify-content: right; /* с конца */
    align-items: center; /* по центру по вертикали */
}

.main-left {
    display: flex; 
    justify-content: left; /* с конца */
}

.wight44 {
    width: 44%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 389px; /* высота */
    grid-column-gap: 30px; /* Растояние м/у ячейками */
    grid-row-gap: 30px; /* Растояние м/у ячейками */
}
* {
    box-sizing: border-box;
  }

.box {
    display: grid;    
    grid-template-rows: auto auto auto ;  
    padding: 30px;
    border-radius: 10px; /*скругление */
    background: #132035;     
    text-align: center; /*горизонтальное  ценрование тестка*/
    align-items: center; /* по центру по вертикали */
}

.box4 {    
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
